.testimonies {
  display: flex;
  flex-direction: column;
  padding: 4% 0;
  color: #1a1a1a;
  width: 100%;
  max-width: 90rem;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28.8rem, 2fr));
  grid: 0rem;
}

@media (max-width: 800px) {
  .testimonies {
    width: 100%;
    padding: 4rem 0;
  }
}

.imageSection {
  height: auto;
  width: 100%;
}
.aboutImage {
  position: relative;
  height: 20rem;
  border-radius: 2rem;
  cursor: pointer;
}

.aboutImage img {
  object-fit: cover;
}
.testimonyIntro {
  line-height: 1.4;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #607d8b;
  padding: 5rem;
  text-align: center;
}
.testimonyIntro > h1 {
  font-size: 3rem;
}
.testimonyIntro > p {
  color: #ffffff;
}
.cta {
  margin-top: 1rem;
}

@media (min-width: 1100px) {
  .testimonies {
    flex-direction: row;
    align-items: center;
  }
  .aboutImage,
  .testimonyIntro {
    height: 18rem;
  }
}
@media (min-width: 1400px) {
  .testimonyIntro,
  .aboutImage {
    height: 28rem;
  }
}
